{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static '_base.css' %}" />
    <script src="{% static '_base.js' %}"></script>
  </head>
  <body>
    {% include 'include/navbar.html' %}
    <div id="body">
      <div id="left"></div>
      <div id="center">
        {% block center %}
        {% endblock center %}
      </div>
      <div id="right"></div>
    </div>
  </body>
</html>
