{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/_base.css' %}">
</head>
<body>

    <div id="row">
        <div class="left">
            {% block left %}
            {% endblock left %}
        </div>
        <div class="center">
            {% block center %}
            {% endblock center %}
        </div>
        <div class="right">
            {% block right %}
            {% endblock right %}
        </div>
    </div>
    
    <script src="{% static "js/_base.js" %}"></script>
</body>
</html>